body {
    margin: 0;
    font-family: sans-serif;
}

main {
    display: block;
    position: fixed;
    top: 65px;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid black;
}

header, #popup, #legend {
    background-color: rgb(186, 186, 219);
}

#popup, #legend {
    position: fixed;
    border: 1px solid black;
    padding: 15px;
}

header {
    padding: 15px;
    font-weight: bold;
}

#popup {
    top: 85px;
    right: 20px;
    display: none;
}

#legend {
    bottom: 30px;
    right: 20px;
}

.color {
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid black;
}

header div {
    font-weight: normal;
    font-size: 0.9em;
}

#map {
    height: 100%;
}
